@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    background-color: #a8b4bf;
    /* color: ; */
}

ul{ 
    list-style-type:none;
}

a{
    text-decoration: none;
}